body  
{  
    background: #EDECEA;  
    font-family: 'Arial';  
}
.header {
    overflow: hidden;
    border-radius: 25px;
    background: #777373;
    padding: 20px;
    width: 1225px;
    height: 60px;
    
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  
  .header img.logo-image{
    float: left;
    width:70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  .header a.name {
    font-size: 25px;
    font-weight: bold;
  }
  
  
  /* Change the background color on mouse-over */
  .header a.hover {
    background: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background: #F5F5F5;
    color: black;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .header-right img.avatar-image{
    float: right;
    width:60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

  }
.main-label{
    text-align: center;
  }

.body-container p{
    align-items: center;
  }
img{
    max-width: 25%;
    float: inline-start;
  }
.body-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis: auto;
  }

.body-button{
    border-radius: 4px;
    background-color: #777373;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 480px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display:block;
    
  }

  .body-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.body-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.body-button:hover span{
    padding-right: 25px;
}

.body-button:hover span:after{
    opacity: 1;
    right: 0;
}
  

